.box {
	margin-bottom:40px;
	clear:both;
	-webkit-box-shadow:0 0 4px #929292;
	box-shadow:0 0 4px #929292;
	-moz-box-shadow:0 0 4px #929292;
}

.box .content {
	background-color:#F7F7F7;
	overflow:hidden;
}

.box.closed .content {
	display:none;
}

.box .content .separator {
	background:url(/images/global/tables/separator.png) repeat-x center center;
}

.box .content.padding {
	padding:20px;
}

.box .header {
	height:33px;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background-image:url(/images/global/tables/bg_box.png);
}

.box.hidden .header {
	border-radius:3px;
}

.box .header h2 {
	padding-top:8px;
	padding-left:20px;
	color:#d4d4d4;
	font-weight:700;
	font-size:12px;
	float:left;
	text-shadow:0 1px 0 #1f1f1f;
	filter:dropshadow(color=#1f1f1f,offx=0,offy=1);
	margin:0;
}

.box .header .draggable {
	margin-right:20px;
	width:25px;
	height:20px;
	background-image:url(/images/global/tables/draggable.png);
	float:right;
	cursor:move;
	text-indent:-3000px;
	margin-top:7px;
}

.box .header .toggle {
	margin-top:6px;
	margin-right:10px;
	width:20px;
	background-image:url(/images/global/tables/toggle.png);
	background-repeat:no-repeat;
	float:right;
	cursor:pointer;
	text-indent:-3000px;
	height:22px;
}

.box .header .toggle:hover {
	background-image:url(/images/global/tables/toggle_hover.png);
}

.box .header .toggle:focus {
	background-image:url(/images/global/tables/toggle_hover.png);
}

table {
	width:100%;
	text-align:left;
}

table thead th {
	height:35px;
	color:#959595;
	background-color:#eaeaea;
	vertical-align:middle;
	border-bottom:1px solid #d9d9d9;
	box-shadow:0 2px 0 #FFF;
	-webkit-box-shadow:0 2px 0 #FFF;
	-moz-box-shadow:0 2px 0 #FFF;
	text-shadow:0 1px 0 #fff;
	filter:dropshadow(color=#ffffff,offx=0,offy=1);
	padding:0 10px 0 20px;
}

table tfoot th {
	height:35px;
	color:#959595;
	vertical-align:middle;
	border-bottom:1px solid #d9d9d9;
	box-shadow:0 2px 0 #FFF;
	-webkit-box-shadow:0 2px 0 #FFF;
	-moz-box-shadow:0 2px 0 #FFF;
	text-shadow:0 1px 0 #fff;
	filter:dropshadow(color=#ffffff,offx=0,offy=1);
	background-color:transparent;
	border-top:1px solid #d9d9d9;
	padding:0 10px 0 20px;
}

table tbody tr:hover {
	background-color:#e5e5e5!important;
}

table tbody tr:nth-child(even) {
	background-color:#ededed;
}

td {
	border-bottom:1px dotted #DDD;
}

table td {
	padding:10px 10px 10px 20px;
}

table td.center {
	text-align:center;
}

table th.center {
	text-align:center;
}

table td.middle {
	vertical-align:middle;
}

table th.middle {
	vertical-align:middle;
}

.dataTables_wrapper {
	position:relative;
	clear:both;
	zoom:1;
}

.dataTables_processing {
	position:absolute;
	top:50%;
	left:50%;
	width:250px;
	height:30px;
	margin-left:-125px;
	margin-top:-15px;
	border:1px solid #ddd;
	text-align:center;
	color:#999;
	font-size:12px;
	background-color:#FFF;
	padding:14px 0 2px;
}

.dataTables_length {
	display:block;
	background:#eaeaea;
	border-bottom:1px solid #d9d9d9;
	box-shadow:0 1px 0 #FFF;
	-webkit-box-shadow:0 1px 0 #FFF;
	-moz-box-shadow:0 1px 0 #FFF;
	margin-bottom:1px;
	padding:12px 0 12px 20px;
}

.dataTables_filter {
	position:absolute;
	top:10px;
	right:20px;
}

.dataTables_info {
	width:40%;
	float:left;
	padding:10px 0 10px 20px;
}

.dataTables_paginate {
	float:right;
	padding:10px 20px 10px 0;
}

.paginate_disabled_previous {
	height:19px;
	margin-left:3px;
	float:left;
	cursor:pointer;
	font-size:12px;
	font-weight:700;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	color:#393939;
	background:url(/images/global/tables/bg_buttonalt.png) repeat-x top;
	border:1px solid #bbb;
	box-shadow:0 1px 3px #6f6f6f;
	-webkit-box-shadow:0 1px 3px #6f6f6f;
	-moz-box-shadow:0 1px 3px #6f6f6f;
	text-shadow:0 1px 0 #dcdcdc;
	filter:dropshadow(color=#dcdcdc,offx=0,offy=1);
	padding:0 6px;
}

.paginate_enabled_previous {
	height:19px;
	margin-left:3px;
	float:left;
	cursor:pointer;
	font-size:12px;
	font-weight:700;
	color:#FFF;
	border:1px solid #464b4f;
	background:url(/images/global/tables/bg_button.png) repeat-x top;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 1px 3px #A7A7A7;
	-webkit-box-shadow:0 1px 3px #A7A7A7;
	-moz-box-shadow:0 1px 3px #A7A7A7;
	text-shadow:0 -1px 0 #252628;
	filter:dropshadow(color=#252628,offx=0,offy=-1);
	padding:0 6px;
}

.paginate_disabled_next {
	height:19px;
	margin-left:3px;
	float:left;
	cursor:pointer;
	font-size:12px;
	font-weight:700;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	color:#393939;
	background:url(/images/global/tables/bg_buttonalt.png) repeat-x top;
	border:1px solid #bbb;
	box-shadow:0 1px 3px #6f6f6f;
	-webkit-box-shadow:0 1px 3px #6f6f6f;
	-moz-box-shadow:0 1px 3px #6f6f6f;
	text-shadow:0 1px 0 #dcdcdc;
	filter:dropshadow(color=#dcdcdc,offx=0,offy=1);
	padding:0 6px;
}

.paginate_enabled_next {
	height:19px;
	margin-left:3px;
	float:left;
	cursor:pointer;
	font-size:12px;
	font-weight:700;
	color:#FFF;
	border:1px solid #464b4f;
	background:url(/images/global/tables/bg_button.png) repeat-x top;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 1px 3px #A7A7A7;
	-webkit-box-shadow:0 1px 3px #A7A7A7;
	-moz-box-shadow:0 1px 3px #A7A7A7;
	text-shadow:0 -1px 0 #252628;
	filter:dropshadow(color=#252628,offx=0,offy=-1);
	padding:0 6px;
}

.paginate_button {
	height:19px;
	margin-left:3px;
	float:left;
	cursor:pointer;
	font-size:12px;
	font-weight:700;
	color:#FFF;
	border:1px solid #464b4f;
	background:url(/images/global/tables/bg_button.png) repeat-x top;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 1px 3px #A7A7A7;
	-webkit-box-shadow:0 1px 3px #A7A7A7;
	-moz-box-shadow:0 1px 3px #A7A7A7;
	text-shadow:0 -1px 0 #252628;
	filter:dropshadow(color=#252628,offx=0,offy=-1);
	padding:0 6px;
}

.paginate_active {
	height:19px;
	margin-left:3px;
	float:left;
	cursor:pointer;
	font-size:12px;
	font-weight:700;
	color:#FFF;
	border:1px solid #464b4f;
	background:url(/images/global/tables/bg_button.png) repeat-x top;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 1px 3px #A7A7A7;
	-webkit-box-shadow:0 1px 3px #A7A7A7;
	-moz-box-shadow:0 1px 3px #A7A7A7;
	text-shadow:0 -1px 0 #252628;
	filter:dropshadow(color=#252628,offx=0,offy=-1);
	background-image:url(/images/global/tables/bg_button_hover.png);
	padding:0 6px;
}

.paginate_disabled_previous:hover {
	background-image:url(/images/global/tables/bg_buttonalt_hover.png);
}

.paginate_enabled_previous:hover {
	background-image:url(/images/global/tables/bg_button_hover.png);
}

.paginate_disabled_next:hover {
	background-image:url(/images/global/tables/bg_buttonalt_hover.png);
}

.paginate_enabled_next:hover {
	background-image:url(/images/global/tables/bg_button_hover.png);
}

.paginate_button:hover {
	background-image:url(/images/global/tables/bg_button_hover.png);
}

.paginate_disabled_previous:before {
	content:"<";
}

.paginate_enabled_previous:before {
	content:"<";
}

.paginate_disabled_next:before {
	content:">";
}

.paginate_enabled_next:before {
	content:">";
}