<h2>Why do I get a warning about the SSL certificate when I try to access the site?</h2>
<p>I've secured the site with a self-signed certificate in order to ensure that your interactions with PivotalPal
are secured using SSL encryption. Rather than purchasing a certification from a certificate authority such as
Verisign or Comodo, I've signed the certificate myself. Maybe in the future, with the help of donations, I'll buy
a real certificate. But for now, you will need to make due with the self-signed certificate.</p>
<p>A real certificate would give you the security of knowing I am who I say I am. That said, you're not required
to enter a credit card or any other sensitive information so I hope there is no risk to you.</p>
<p>You can read more about self signed certificates on <a href="http://en.wikipedia.org/wiki/Self-signed_certificate">Wikipedia</a>.</p>

<h2>Is PivotalPal free?</h2>
<p>Yep. All I ask is if you use it and find it useful, drop me line at
  <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'&'+'#'+'1'+'0'+'5'+';'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+
          'p'+'i'+'v'+'o'+'t'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'4'+';'+'1'+'l'+'p'+'a'+'&'+'#'+'1'+'0'+'8'+';'+
          '&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+'1'+'5'+';'+'&'+'#'+'1'+'1'+'6'+';'+'%'+'&'+'#'+'5'+'5'+';'+'&'+'#'+
          '5'+'3'+';'+'r'+'i'+'m'+'&'+'#'+'4'+'6'+';'+'o'+'&'+'#'+'3'+'7'+';'+'7'+'2'+'g'+"'"+'>'+'p'+'i'+'v'+
          'o'+'t'+'a'+'&'+'#'+'1'+'0'+'8'+';'+'p'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'0'+'8'+';'+'&'+'#'+'6'+'4'+
          ';'+'s'+'t'+'u'+'r'+'i'+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'1'+'1'+';'+'r'+'g'+
          '<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>.</p>


<h2>How can I provide feedback on PivotalPal?</h2>
<p>Please send me feedback at
  <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'&'+'#'+'1'+'0'+'5'+';'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+
          'p'+'i'+'v'+'o'+'t'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'4'+';'+'1'+'l'+'p'+'a'+'&'+'#'+'1'+'0'+'8'+';'+
          '&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+'1'+'5'+';'+'&'+'#'+'1'+'1'+'6'+';'+'%'+'&'+'#'+'5'+'5'+';'+'&'+'#'+
          '5'+'3'+';'+'r'+'i'+'m'+'&'+'#'+'4'+'6'+';'+'o'+'&'+'#'+'3'+'7'+';'+'7'+'2'+'g'+"'"+'>'+'p'+'i'+'v'+
          'o'+'t'+'a'+'&'+'#'+'1'+'0'+'8'+';'+'p'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'0'+'8'+';'+'&'+'#'+'6'+'4'+
          ';'+'s'+'t'+'u'+'r'+'i'+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'1'+'1'+';'+'r'+'g'+
          '<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>.</p>
