<h2>Tracking QA versus Developer</h2>

<p>It’s often helpful to understand which tasks are testing tasks versus developer tasks.
For example, consider the situation in which it’s day 8 of a 10 day sprint. The total
task hours remaining may seem reasonable. However, if you notice that almost all of
the remaining work remaining is testing, it may signify a resource bottleneck.</p>

<p>To designate certain tasks as testing tasks, append “[qa]” to the task. For example,</p>

<p><b>5/5 Test validation [qa]</b></p>

<p>Indicates that the 5 hour test validation task is a testing task.</p>

<%= button_to "Previous", page_path("tour1") %>&nbsp;&nbsp;&nbsp;<%= button_to "Next", page_path("tour3") %>
