<h2>Story Numbering</h2>

<p>It’s often helpful to refer to stories with a short story number. PivotalPal can scan
through your backlog and assign story numbers for you.</p>

<p>You can configure how PivotalTracker performs numbering by story type. For each
type, you can configure PivotalTracker to:</p>

<ul>
<li>Do nothing</li>
<li>Assign a sequential number with a prefix of your choosing</li>
<li>If you have used Jira integration to import stories form Jira, PivotalPal can
prepend the story with the Jira number.</li>
  </ul>

<p>For example, you might chose to not assign numbers to Releases, have PivotalPal
assign Features with a sequential number prefixed with an “F” (resulting in
stories such as “F1: Create the form” and “F2: Create another form”), and assign a
sequential number to chores prefixed with a “C”, resulting ins stories such as a “C1:
Setup test environment”. Lastly, you may integrate with Jira for bugs, and choose to
use those numbers for bugs in PivotalTracker, resulting in stories such as “JIRA-123:
Fix typo on home page”.</p>

<%= button_to "Previous", page_path("tour6") %>
