<h2>Tracking Hours</h2>

<p>PivotalPal allows teams to track hours remaining and total estimated hours for
tasks within a story. To do so, follow the simple convention of prefixing the task
with these two numeric values separated by a slash. For example,</p>

<p><b>1.5/5 Add validation</b></p>

<p>conveys that there are 1 ½ hours remaining on the 5 hour task to add validation.</p>

<p>PivotalTracker periodically synchronizes with PivotalTracker, allowing you to see,
over time, the work completed and the work remaining for tasks on any given story,
and for all stories within a sprint. Clicking the “Tasks” tab displays details on the
status of all tasks for stories within a sprint.</p>

<%= button_to "Next", page_path("tour2") %>
