<h2>Print Story Cards</h2>

<p>PivotalPal supports printing story cards. Below is a sample story card from
PivotalPal:</p>
<%= image_tag "doc/story-card.png" %>

<%= button_to "Previous", page_path("tour4") %>&nbsp;&nbsp;&nbsp;<%= button_to "Next", page_path("tour6") %>
