<tr>
  <td><%= project.name %></td>
  <td>
    <%= link_to 'Show', project %> |
    <%= link_to 'Edit', edit_project_path(project) %> |
    <%= link_to 'Destroy', project, :confirm => t("general.confirm_nag"), :method => :delete %>
  </td>
</tr>
