<% title "List Projects" %>

<%= paginate @projects %>
<table>
  <tr>
    <th>Name</th>
    <th><%= t('project.project_identifier') %></th>
    <th>Last Synced At</th>
    <th>Sync Status</th>
    <th>Action</th>
  </tr>

  <%= render @projects %>
</table>

<br/>

<% if can? :create, Project %>
    <%= link_to 'New Project', new_project_path %>
<% end %>
