<% title "List Projects" %>

<%= paginate @projects %>
<table>
  <tr>
    <th>Name</th>
    <th><%= t('project.pivotal_identifier') %></th>
    <th>Last Synced At</th>
    <th>Next Scheduled Sync At</th>
    <th>Sync Status</th>
    <th>Action</th>
  </tr>

  <%= render @projects %>
</table>

<br/>

<%= create_link Project, nil, 'New Project' %>
