<% title "List Projects" %>

<%= paginate @projects %>
<div class="box"> 
	<div class="header">
		<h2>All Projects</h2>
		<span class="draggable">move</span> 
		<span class="toggle">toggle</span> 
	</div> <!-- end .header -->
	<div class="content clearfix"> 
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th><%= t('project.pivotal_identifier') %></th>
					<th>Last Synced At</th>
					<th>Next Scheduled Sync At</th>
					<th>Sync Status</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<%= render @projects %>
			</tbody>

		</table>
	</div> <!-- end .content -->
</div> 	<!-- end .box-->

<p><%= create_link Project, nil, "#{t('action.new')} #{t('project.entity_name')}" %></p>
